<div class="modal fade"
  [ngStyle]="{ 'z-index': (edicaoModal ? '1040' : '1050') }"
  bsModal #modalProducts="bs-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
  aria-hcodigoden="true" [config]="{backdrop: 'static',  keyboard: false}">
  
  <div class="modal-dialog modal-lg" id="modalProducts"  role="document">
    
    <div class="modal-content" >
      
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        
      <div class="modal-header" style="background-color: #20a8d8; color: #ffffff;">
        <h4 class="modal-title">{{ titulo }}</h4>
        <button type="button" class="close" (click)="hideModal();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">   
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6" >
                      <div class="form-group">
                        <label for="name"><strong>Name</strong></label>
                        <input type="text" class="form-control" id="name" placeholder="Name" maxlength="50"
                               [(ngModel)]="_product.name" name="name" [ngModelOptions]="{standalone:true}" required name>
                      </div>
                    </div>

                    <div class="col-sm-6" >
                      <div class="form-group">
                        <label for="description"><strong>Description</strong></label>
                        <input type="text" class="form-control" id="description" placeholder="Description" maxlength="300"
                               [(ngModel)]="_product.description" name="description" [ngModelOptions]="{standalone:true}" required description>
                      </div>
                    </div>

                    <div class="col-sm-6" >
                      <div class="form-group">
                        <label for="price"><strong>Price</strong></label>
                        <input type="number" class="form-control" id="price" placeholder="Price"
                               [(ngModel)]="_product.price" name="price" [ngModelOptions]="{standalone:true}" required price>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid"><i class="fa fa-save"></i> Save</button>
        <button type="button" class="btn btn-secondary" (click)="this.hideModal();"><i class="fa fa-times"></i> Cancel</button>
      </div>

    </form>

    </div>
  </div>
</div>
